<header class="masthead ">
  <div class="container">
    <div class="row">
      <article class="col-md-3">
        <a href="index.php"><img alt="" title="" class="main-logo " src="images/logo.png"></a>
      </article>

      <article class="col-md-2 col-md-offset-7">
        <nav class="mastnav ">
          <ul class="main-menu ">
            <li>
              <a class="main-link font2 sub-menu-trigger" href="index.php">Home</a>
            </li>
            <li>
              <a class="main-link font2 sub-menu-trigger" href="works.php">Works</a>
            </li>
            <li>
              <a class="main-link font2 sub-menu-trigger" href="philosophy.php">Philosophy</a>
            </li>
            <li>
              <a class="main-link font2" href="contact.php">Contact me</a>
            </li>
          </ul>
        </nav>
      </article>
    </div>
  </div>
</header>