<header class="masthead ">
<div class="container">
<div class="row">
  <article class="col-md-3">
    <a href="index.php"><img alt="" title="" class="main-logo " src="images/logo.png"></a>
  </article>
  <article class="col-md-1 col-md-offset-6 no-pad">
    <!--works filter panel :starts -->
    <div class="works-filter-wrap ">
      <ul class="works-filter  text-left clearfix font1">
      <li><a id="all" href="#" data-filter="*" class="active"><span>All</span></a></li><li><a href="#" data-filter=".branding"><span>Branding</span></a></li>
      <li><a href="#" data-filter=".graphics"><span>Graphics</span></a></li>
      <li><a href="#" data-filter=".logos"><span>Logos</span></a></li>
      <li><a href="#" data-filter=".ui"><span>UI</span></a></li>
      <li><a href="#" data-filter=".web"><span>Web</span></a></li>
    </ul>
  </div>
  <!-- works filter panel :ends -->
</article>
<article class="col-md-2">
  <nav class="mastnav ">

    <ul class="main-menu ">
      <li>
        <a class="main-link font2 sub-menu-trigger" href="index.php">Home</a>
      </li>
      <li>
        <a class="main-link font2 sub-menu-trigger" href="works.php">Works</a>
      </li>
      <li>
        <a class="main-link font2 sub-menu-trigger" href="philosophy.php">Philosophy</a>
      </li>
      <li><a class="main-link font2" href="contact.php">Say Hello</a></li>
    </ul>
  </nav>
</article>
</div>
</div>
</header>